.header{
    display: flex;
    height: 80px;
    background-color: rgb(59, 40, 224);
    width: 100%;
}

.logo{
    flex: 1;
    padding-left: 1%;
}
.profile{
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
}

.search{
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.searchbox{
    width: 75%;
    height: 60%;
    margin: auto auto;
}
.searchInput{
    
    margin: auto auto;
    width: 75%;
    height: 80%;
}
.searchBtn{
    margin: auto auto;
    width: 15%;
    height: 80%;
}
.logo img{
    width: 50%;
    height: 100%;
    min-width: 100px;
    
}

.profile img{
    width: 10%;
    height: 100%;
    min-width: 100px;
    
}

.navManu{
    min-width: 600px;
    color: #fff;
}