
.sideBar{
    border: 2px solid #8bbeff;
    background-color: #6d9ddb;
    width: 24%;
    min-width: 100px;
    display: flex;
    flex-direction: column;
}

.subCatagory {
    display: none;
  }

  .category-title:hover + .subCatagory {
    display: block;
  }



  .catagoryList{
    display: flex;
    
  }

  .MainCatagory {
    display: flex;
    flex-direction: column;
    width: 10%;
  }

  .MainCatagoryItem {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #f0f0f0;
  }

  .MainCatagoryItem.active {
    background-color: #007bff; /* Change to the desired color for the active tab */
    color: white; /* Change to the desired color for the text of the active tab */
  }

  .Subcatagory {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #007bff; /* Change to the desired color for the tab content border */
  }

 